    * {
        box-sizing: border-box;
        font-family: 'Kumbh Sans', sans-serif
    }

    /*Navbar for Header*/
    .navbar {
        background: #34b7eb;
        font-size: 1.2rem;
        width:100%;
        position: relative;
        justify-content: space-between;
        display: flex;
    }

    .navbar__logo {
        max-height: max-content;
    }

    nav ul{
        list-style-type: none;
        margin: auto 3%;
        width: fit-content;
    }

    .navbar__item {
        display: inline-block;
    }
    
    .navbar__item a{
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
        color: #ffffff;
        margin-left: 40px;
    }

    .navbar__item a:hover{
        color: #000000;
    }
    /*Navbar for Header*/

    /*Index Styles*/
    .content{
        position: absolute;
        margin: 2% auto;
        left: 5%;
        text-align: start;
    }

    .content p{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .content ul{
        font-weight: bold;
    }

    .free_picture{
        width: 50%;
    }
    /*Index Styles*/

    /*Contact Styles*/
    .media_content{
        display: flex;
        justify-content: space-between;
        margin: 4% auto;
        width: 80%;
    }

    .contact_title{
        margin: 2% auto;
        text-align: center;
        color: #D2B48C;
    }

    .media_box{
        display: inline-block;
        margin-left: 50px;
    }
    /*Contact Styles*/

    /*About Styles*/
    .about_title{
        margin: 2% auto;
        text-align: center;
    }
    /*About Styles*/