    * {
        box-sizing: border-box;
        font-family: 'Kumbh Sans', sans-serif
    }

    .navbar {
        background: #34b7eb;
        font-size: 1.2rem;
        width:100%;
        position: relative;
        justify-content: space-between;
        display: flex;
    }

    .navbar__logo {
        max-height: max-content;
    }
    /* Navigation Bar*/

    .navbar ul{
        list-style-type: none;
        margin: auto 3%;
        width: fit-content;
    }

    .navbar__item {
        display: inline-block;
    }
    
    .navbar__item a{
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
        color: #ffffff;
        margin-left: 40px;
    }

    .navbar__item a:hover{
        color: #000000;
    }

    .content{
        position: absolute;
        margin: 2% auto;
        left: 5%;
        text-align: start;
    }

    .content p{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .content ul{
        font-weight: bold;
    }

    .free_picture{
        width: 50%;
    }
