* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif'
}

/* Navigation Bar Basics*/
    .navbar {
        background: #34b7eb;
        height: fit-content;
        font-size: 1.2rem;
        position: sticky;
        z-index: 1;
    }

    .navbar__logo {
        min-height: auto;
        max-height: max-content;
    }

    .navbar__menu {
        display: flex;
        float: right;
        margin: 0px 100px 0px;
    }

    .navbar__item {
        margin: 0 50px;
        justify-content: space-around;
        text-wrap: nowrap;
    }

    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
        text-align: center;
    }

    /*hover effect*/
    .navbar__links {
        color: white;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width:5%;
        margin: 0 5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
  
  .navbar__links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  
  .navbar__links:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

/*hover effect*/
.content{
    position: absolute;
    margin: 200px auto auto;
    top: 50%;
    left: 8%;
    text-align: start;
    transform: translateY(-50%);
    letter-spacing: 2px;
}

.free_picture{
    display: flex;
    max-height: 500px;
    z-index: 1;
    height: fit-content;
    width: 100%;
    max-width: 1300px;
}
    /* */

.visitor_count{
    /* Add your styles here */
    position: absolute;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: auto -100px auto;
  }
    
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }